table{
    border-collapse: collapse;
    margin: auto;
}
td{
    border: rgb(190,190,190) solid 1px;
    padding: 8px;
    font-size: 12px;
}
.all-table{
    text-align: center;
}
.col-three{
    background-color: rgb(235,235,235);
    font-weight: bold;
    border-left: black solid;
    border-right: black solid;
}
.background-color1{
    background-color: rgb(245,245,245);
}
.background-color2{
    background-color: rgb(235,235,235);
}
.background-color3{
    background-color: rgb(250,250,250);
}